<h1> Episode #<%= @episode.number %>  </h1>
<h2> <%= @episode.date.strftime("%B %d, %Y") %> </h2>

<ul>
  <%# <% @episode.each do |appeared| %> %>
    <%# <!-- <li><%= appeared.guest %></li> --> %>
  <%# <% end %> %>
</ul>
